1. what are data structures, and why are they important?
-> Data structures are specialized formats for organizing, processing, storing, and retrieving data in a computer. They provide a way to manage large amounts of data efficiently and are fundamental to computer science and programming.

-> Data structures are essential to computer science as they allow for efficient data management, memory optimization, and algorithm implementation, all of which are crucial for creating effective software solutions.

2.  Explain the difference between mutable and immutable data types with examples

-> Mutable and immutable data types differ in whether or not their values can be changed after they are created.

Mutable Data Types: These are data types whose values can be changed or modified after they are created. This means you can alter the contents of the object without creating a new one.

Examples:

Lists: You can modify a list by adding, removing, or changing elements

- Dictionaries: You can add, remove, or update key-value pairs

-> Immutable Data Types: These are data types whose values cannot be changed after they are created. Once an object is created, any attempt to modify its content will result in an error or the creation of a new object.

Examples:

- Tuples: Once a tuple is created, its elements cannot be changed.

3.What are the main differences between lists and tuples in Python ?                       
-> there are various differane is lists and tuples and they are explained below


- Tuples are immutable, meaning that once they are created, their content cannot be changed. You cannot add, remove, or modify elements.


- Lists are mutable, meaning that you can change their content after they are created. You can add, remove, or modify elements

-  Lists are defined using square brackets [ ]

-  Tuples are defined using parentheses ().

-  Because lists are mutable, they have a bit more overhead in terms of performance. Operations that modify the list can be slower compared to tuples.

- Tuples are generally faster than lists for iteration and access because of their immutability. They require less memory and can be optimized by Python.

-  Lists have a variety of built-in methods for modifying their contents, such as append(), remove(), pop(), sort(), and reverse().

-  Tuples have fewer built-in methods, primarily count() and index(), since they cannot be modified.

4. Describe how dictionaries store data
-> Dictionaries in Python store data as key-value pairs, where keys are unique and hashable, and values can be of any type. They use a hashing mechanism for efficient data retrieval and support dynamic resizing.

5. Why might you use a set instead of a list in Python ?
->  i would prefer to selct  to use a set instead of a list in Python because  need to ensure uniqueness, require fast membership testing, want to perform mathematical set operations, or when the order of elements is not important. Sets provide a powerful and efficient way to manage collections of unique items, making them a valuable tool in many programming scenrios.

6. What is a string in Python, and how is it different from a list?
-> a string is a sequence of characters used to represent text. Strings are one of the built-in data types in Python and are immutable, meaning that once a string is created, it cannot be changed.while a list is a mutable collection of items that can contain elements of various data types.

7. How do tuples ensure data integrity in Python?
->  tuples ensure data integrity in Python through their immutability, hashability, and fixed structure. They prevent accidental modifications, maintain consistency in data structures, and convey intentionality in data representation. These characteristics make tuples a valuable choice for scenarios where data integrity is a priority.

8. What is a hash table, and how does it relate to dictionaries in Python?
->A hash table is a data structure that implements an associative array, a structure that can map keys to values. It uses a hash function to compute an index (or hash code) into an array of buckets or slots, from which the desired value can be found. Hash tables are designed to provide efficient insertion, deletion, and lookup operations, typically achieving average time complexity of O(1) for these operations.

In Python, dictionaries (dict) are implemented using hash tables. Here’s how they relate:

- key-valve pairs
- efficiency
- hashing machanism
- handling collisions
- dyanamic reseizing
- immutability of keys

The use of hash tables allows dictionaries to achieve average-case constant time complexity for common operations, making them a powerful and flexible data structure in Python.

9.Can lists contain different data types in Python?

-> Yes, lists in Python can contain different data types. This flexibility is one of the key features of Python's list data structure. A single list can hold a mix of integers, floats, strings, booleans, and even other lists or complex objects.

10.Explain why strings are immutable in Python?

-> strings in Python are immutable for reasons related to memory efficiency, performance optimization, safety, consistency, and ease of use. This immutability provides several advantages, making strings a robust and reliable data type for handling text in Python programming

  Here are the key reasons why strings are immutable in Python:

- Memory Management: Immutability allows Python to optimize memory usage.
- Caching: Immutable objects can be cached and reused, which can speed up operations that involve string manipulation.
- Avoiding Side Effects: Immutability helps prevent unintended side effects in programs.
- Functional Programming: Immutability aligns well with functional programming principles, where data is treated as immutable and functions return new data rather than modifying existing data.

11.What advantages do dictionaries offer over lists for certain tasks?

->dictionaries offer significant advantages over lists for tasks that require
-  fast lookups
- associative mapping
-  uniqueness of keys
-  and the ability to manage complex data structures.
 Their dynamic and flexible nature, along with the clarity they provide through descriptive keys, makes dictionaries a powerful tool for many programming scenarios in Python.

12.Describe a scenario where using a tuple would be preferable over a list

-> A specific scenario to illustrate this:

#Scenario: Storing Geographic Coordinates

Imagine you are developing a mapping application that needs to store geographic coordinates (latitude and longitude) for various locations. In this case, using a tuple is more appropriate than using a list.
In this scenario, using a tuple to store geographic coordinates is preferable because:

- Immutability: The coordinates should not change once defined, ensuring data integrity.

- Hashability: Tuples can be used as keys in dictionaries, while lists cannot.

- Semantic Clarity: Using a tuple clearly indicates that the values are a fixed, related pair.

- Overall, tuples are ideal for representing fixed collections of items, such as coordinates, where the data should remain constant and unmodifiable.

13. How do sets handle duplicate values in Python?

->sets are designed to store unique elements, which means they automatically handle duplicate values by ignoring them.

14. How does the “in” keyword work differently for lists and dictionaries?
->  the "in" keyword works differently for lists and dictionaries in Python. For lists, it checks for the presence of a value among the elements, while for dictionaries, it checks for the presence of a key among the dictionary's keys.

15.Can you modify the elements of a tuple? Explain why or why not

-> No, we cannot modify the elements of a tuple in Python. Tuples are immutable, which means that once a tuple is created, its contents cannot be changed.

16.What is a nested dictionary, and give an example of its use case ?

->A nested dictionary in Python is a dictionary that contains other dictionaries as its values.

- Use Case for a Nested Dictionary
#Scenario: Student Management System


In a student management system, you might want to store information about multiple students, including their personal details and academic performance. A nested dictionary is an ideal structure for this purpose because it allows you to group related information together.  

17. Describe the time complexity of accessing elements in a dictionary

-> The time complexity of accessing elements in a dictionary in Python is generally O(1) on average.

18. In what situations are lists preferred over dictionaries?

->Here are some situations where lists are preferred over dictionaries:

- Ordered Collections
- Simple Collections of Items
- Dynamic Size
-  Iterating Over Elements
- Index-Based Access
- Stack and Queue Implementations
- Simplicity

. Lists provide a straightforward and efficient way to manage ordered collections of data, making them a valuable tool in many programming scenarios.


 19.Why are dictionaries considered unordered, and how does that affect data retrieval

 -> Dictionaries in Python are considered unordered because they do not maintain the order in which key-value pairs were added.
  
  # Impact on Data Retrieval

- Key-Based Access: To retrieve a value from a dictionary, you must use the key.
- No Order Dependence: Because dictionaries are unordered, you should not rely on the order of key-value pairs when retrieving data.
- Efficient Lookups: Despite being unordered, dictionaries provide fast lookups due to their hash table implementation.


20.Explain the difference between a list and a dictionary in terms of data retrieval

-> the key differences between lists and dictionaries in terms of data retrieval are:

- Access Method: Lists use index-based access, while dictionaries use key-based access.

- Time Complexity: Accessing elements by index in a list is O(1), but searching by value is O(n). In contrast, accessing values by key in a dictionary is O(1) on average.

- Order: Lists maintain the order of elements, while dictionaries are unordered collections (though they maintain insertion order in Python 3.7+).

- Use Cases: Lists are suitable for ordered collections, while dictionaries are ideal for key-value associations and fast lookups

#Pratical Questions

1.  Write a code to create a string with your name and print it

In [1]:
name = ("dimple")
print("dimple")

dimple

2.Write a code to find the length of the string "Hello World"

In [2]:
string = ("Hello world")
lenghth =len(string)
print(lenghth)

11

3.Write a code to slice the first 3 characters from the string "Python Programming

In [3]:
string = "python programming"
sliced_string = string[:3]
print(sliced_string)

pyt

4.Write a code to convert the string "hello" to uppercase

In [4]:
string = "hello"
uppercase_string = string.upper()
print(uppercase_string)

HELLO

5. Write a code to replace the word "apple" with "orange" in the string "I like apple

In [5]:
string = "I like apple"
new_string = string.replace("apple","orange")
print(new_string)

I like orange

6.Write a code to create a list with numbers 1 to 5 and print it

In [6]:
numbers = [1,2,3,4,5]
print(numbers)

[1, 2, 3, 4, 5]

7.Write a code to append the number 10 to the list [1, 2, 3, 4]

In [1]:
numbers = [1,2,3,4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5

In [2]:
numbers = [1,2,3,4,5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [6]:
my_list = ['a','b','c','d']
second_element = my_list[1]
print(second_element)

b

10.Write a code to reverse the list [10, 20, 30, 40, 50].

In [12]:
numbers = [10,20,30,40,50]
reversed_numbers = numbers[::-1]
print(reversed_numbers)

[50, 40, 30, 20, 10]

11.Write a code to create a tuple with the elements 100, 200, 300 and print it

In [13]:
my_tuple = (100,20,300)
print(my_tuple)

(100, 20, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow')

In [14]:
my_tuple = ['red','green','blue','yellow']
second_to_last_element = my_tuple[-2]
print(second_to_last_element)

blue

13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [15]:
my_tuple = (10,20,5,15)
minimun_number = min(my_tuple)
print(minimun_number)

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [17]:
my_tuple = ('dog','cat','rabbit')
index_of_cat = my_tuple.index("cat")
print(index_of_cat)

1

15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [18]:
fruits = ('apple','banana','orange')
is_kiwi_in_tuple = 'kiwi' in fruits
print(is_kiwi_in_tuple)

False

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [25]:
my_set = {'a','b','c'}
print(my_set)

{'b', 'a', 'c'}

17. Write a code to clear all elements from the set {1, 2, 3, 4,5}

In [26]:
my_set = {1,2,3,4,5}
my_set.clear()
print(my_set)

set()

18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

In [27]:
my_set = {1,2,3,4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

 19.Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [28]:
set1 = {1,2,3}
set2 = {3,4,5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

20.write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [30]:
set1 = {1,2,3}
set2 = {2,3,4}
intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it

In [35]:
my_dict = {
    "name": "dimple",
         "age": 20,
         "city": "kalol"
}
print(my_dict)

{'name': 'dimple', 'age': 20, 'city': 'kalol'}

22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [37]:
my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [39]:
my_dict = {'name': 'Alice','age': 30}
name_value = my_dict['name']
print(name_value)

Alice

24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [44]:
my_dict = {'name': 'Bob', 'age': 22, 'city': 'New York'}
my_dict.pop('age')
print(my_dict)

{'name': 'Bob', 'city': 'New York'}

25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [2]:
my_dict = {'name': 'Alice', 'city': 'paris'}
key_exists = 'city' in my_dict
print(key_exists)

True

26.Write a code to create a list, a tuple, and a dictionary, and print them all.

In [3]:
my_list = [1,2,3,4,5]
my_tuple = [10,20,30]
my_dict = {'name': 'Alice' , 'age':30, 'city': 'New York'}
print("list:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

list: [1, 2, 3, 4, 5]
Tuple: [10, 20, 30]
Dictionary: {'name': 'Alice', 'age': 30, 'city': 'New York'}

27.Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the
result.(replaced)

In [9]:
import random
random_numbers = [random.randint(1, 100) for _ in range(5)]
random_numbers.sort()
print("Sorted random numbers:", random_numbers)

Sorted random numbers: [21, 47, 57, 72, 91]

28.Write a code to create a list with strings and print the element at the third index

In [10]:
my_list = ["sunflower","lotus","jasmine","lilly","rose"]
print(my_list[3])

lilly

29. Write a code to combine two dictionaries into one and print the result.

In [11]:
my_dict1 = {'name': "dimple", 'age':20}
my_dict2 = {'city': 'kalol', 'country': 'india'}
combined_dict = {**my_dict1, **my_dict2}
print(combined_dict)

{'name': 'dimple', 'age': 20, 'city': 'kalol', 'country': 'india'}

30. Write a code to convert a list of strings into a set

In [12]:
my_list = {'lion','tiger','zebra','monkey','donkey'}
my_set = set(my_list)
print(my_set)

{'monkey', 'lion', 'tiger', 'donkey', 'zebra'}